[Unit]
Description=Flask API
After=network.target

[Service]
User=edisga
WorkingDirectory=/home/edisga/codes/api
ExecStart=/home/edisga/codes/api/env/bin/gunicorn --workers 3 -b localhost:5000 app:app
Restart=always

[Install]
WantedBy=multi-user.target
