[Unit]
Description=Flask API

[Service]
User=edisga
WorkingDirectory=/home/edisga/codes/flask-react-nginx/api/
ExecStart=/home/edisga/codes/flask-react-nginx/api/env/bin/gunicorn --workers 3 -b localhost:5000 app:app
Restart=always

[Install]
WantedBy=multi-user.target
